@use '../abstracts/' as *;

.container {
  display: grid;

  grid-template-rows:
    5rem calc(100dvh - 5rem) minmax(min-content, 100dvh) minmax(40vw, 100dvh)
    min-content minmax(min-content, 100dvh) min-content;
  grid-template-columns:
    [ full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
    // repeat min- content been removed as the size will be calculated in terms of min-content automatically
  }
}
