@use '../abstracts/' as *;

.details {
  grid-column: full-start/full-end;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__picture {
    height: 100%;
    width: 35rem;
    position: relative;
    margin-right: 10rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
      position: relative;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right top,
        $color-secondary 35%,
        $color-primary
      );
      border-radius: 1.5rem;
      transform: translate(-15%, 10%);
    }
    @include respond(tab-port) {
      margin-right: 5rem;
    }
    @include respond(phone) {
      width: 75%;
      margin-right: 0;
      margin-bottom: 5rem;

      &::after {
        width: 0;
      }
    }
  }
  &__content {
    position: relative;

    list-style: none;
    max-width: 65rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    overflow-y: scroll;
    border: 3px solid $color-grey-light-1;
    border-radius: 1.5rem;
    transition: all 5s;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      height: 16.5rem;
      max-width: 60rem;
      position: relative;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 1.5rem;
      padding: 2rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.125);
      transform: scale(0.9);
      // border: 1px solid $color-primary;
      opacity: 0.3;
      transition: all 0.5s;

      // &[data-tab='1'] {
      //   animation: 2s linear pulsate infinite;
      // }

      &::after {
        display: block;
        content: '';
        background-color: #0e1a28;
        padding: 1rem;
        border-radius: 100%;
        font-size: 5rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
      }
      &--active {
        box-shadow: 0 0.75rem 1.25rem 0 rgba(0, 0, 0, 0.15);
        transform: scale(1);
        opacity: 1;

        &::after {
          border: 2px solid hsl(34, 97%, 64%);
        }
      }

      &__text {
        font-family: $font-display;
        // font-size: 1.5rem;
        // font-weight: 600;
        &__title {
          display: block;
          font-size: 1.8rem;
          letter-spacing: 0.1px;
          font-weight: 600;
          margin-bottom: 0.8rem;
          color: $color-primary;
        }
        &__paragraph {
          font-size: 1.7rem;
          line-height: 1.5;
          color: #0e1a28;
        }
      }

      @include respond(tab-port) {
        height: auto;
        flex-direction: column;
      }
      @include respond(phone) {
        // flex-direction: row;
        border: 1px dashed $color-grey-light-2;
      }
    }
    @include respond(tab-port) {
      height: 60rem;
    }
    @include respond(phone) {
      height: 85rem;
    }
  }
  @include respond(tab-port) {
    padding: 0 5rem;
  }
  @include respond(phone) {
    flex-direction: column;
    padding: 0 2.5rem;
  }
}

.lottie-animation-details {
  height: 12.5rem;
  width: 25rem;
  // background-color: #cfd2d5;
  margin-right: 1.2rem;
  @include respond(tab-port) {
    margin-right: 0;
    margin-bottom: 1.2rem;
    height: 10rem;
    width: 22rem;
  }
  @include respond(phone) {
    height: 6rem;
    width: 15rem;
  }
}

.lottie-animation-details-cursor {
  position: absolute;
  width: 30rem;
  height: 25rem;
  z-index: 1;
  top: 0;
  left: 50%;
}
