@use '../abstracts/' as *;

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem;
  border-top: 2px solid $color-primary;

  display: flex;
  flex-wrap: wrap;
  @include respond(particular-small-laptop) {
    padding: 1.5rem 0;
  }

  @include respond(tab-port) {
    padding: 3rem 1.5rem;
  }
  &__item {
    margin-bottom: 0.7rem;
    flex: 0 0 50%;
    display: flex;
    font-weight: 600;
    font-size: 1.4rem;
    color: $color-secondary;
    align-items: center;
    &::before {
      content: '';
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 0.7rem;
      background-color: #ea5353;
      -webkit-mask-image: url(/src/img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
    }
  }
}

.paragraph {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}
