@use '../abstracts/' as *;
.navbar {
  background-color: $color-primary;
  background-image: linear-gradient(
    rgba($color-secondary, 0.9),
    rgba($color-secondary, 0.9)
  );
  grid-column: sidebar-start/sidebar-end;

  display: flex;

  grid-column: 1/-1;
  grid-row: 1/2;
  justify-content: flex-end;
  align-items: center;
}

.nav-btn {
  display: block;
  border: none;
  border-radius: none;
  margin-top: 4rem;

  background-color: #fff;
  height: 2px;
  width: 3.5rem;
  margin-top: 0;
  margin-right: 3rem;
  &::before,
  &::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 2px;
    width: 3.5rem;
  }
  &::before {
    transform: translateY(-1rem);
  }
  &::after {
    transform: translateY(+0.8rem);
  }

  @include respond(tab-land) {
    &::before {
      transform: translateY(-0.8rem);
    }
    &::after {
      transform: translateY(0.6rem);
    }
  }
}
