@use '../abstracts/' as *;

.story {
  &__pictures {
    // height: 50vw;
    background-color: $color-primary;
    background-image: linear-gradient(
        rgba($color-primary, 0.25),
        rgba($color-secondary, 0.75)
      ),
      url(/src//img/back1-small.webp);
    // 1000 1x
    background-size: cover;
    grid-column: full-start/col-end 4;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    @include respond(tab-port) {
      grid-column: 1/-1;
      padding: 3rem;
      // height: 70vw;
    }
    @media (min-resolution: 192dpi) and (max-width: 112.5em) {
      //background-image-medium
      //  1800 1800 - 2x max-width(56.25em)
      background-image: linear-gradient(
          rgba($color-primary, 0.25),
          rgba($color-secondary, 0.75)
        ),
        url(/src//img/back1.webp);
    }
    @media (min-resolution: 192dpi) and (min-width: 112.5em) {
      //background-image big
      // 2000 2000 - 2x min-width(56.25em)
      background-image: linear-gradient(
          rgba($color-primary, 0.25),
          rgba($color-secondary, 0.75)
        ),
        url(/src//img/back1-big.webp);
    }
  }
  &__img--1 {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);
    object-fit: cover;
    @include respond(tab-port) {
      grid-column: 1/5;
      grid-row: 1/-1;
    }
  }
  &__img--2 {
    border-radius: 1rem;
    position: relative;
    width: 115%;
    object-fit: cover;
    grid-row: 4/6;
    grid-column: 4/7;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);

    @include respond(tab-port) {
      width: 100%;
      grid-row: 1/-1;
    }
  }

  &__content {
    background-color: $color-grey;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;

    //2 Dimensional for 1 dimensional style
    // display: grid;
    // align-content: center;
    // justify-items: start;

    // Alternative Flexbox
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @include respond(tab-port) {
      grid-row: 5/6;
      grid-column: 1/-1;
    }
  }

  &__text {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 4rem;
    letter-spacing: 0.5px;
  }
}
